

<div class="ps-4" *ngFor="let p of pais, let i = index" #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        Pais: <small>{{ p.name.common }}</small>
      </h1>
    </div>

    
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="p.flags.png" class="small-flag" />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
          <li class="list-group-item">
              <strong>Población</strong> {{p.population | number}}
          </li>
          <li class="list-group-item">
            <strong>Zona</strong> {{p.subregion}}
        </li>
        <li class="list-group-item">
          <strong>Capital</strong> {{p.capital}}
      </li>
      </ul>
    </div>
  </div>
</div>
